DATABASE_URL="postgresql://egor:3251@localhost:5432/luka_chat?schema=public"
REDIS_URL=redis://localhost:6379
EMAIL_SERVICE_URL=http://127.0.0.1:3002
CHAT_SERVICE_URL=http://127.0.0.1:3004
JWT_SECRET=secret_secret
ACCESS_TOKEN_EXPIRATION='1h'

S3_ENDPOINT=http://localhost:9000
S3_ACCESS_KEY_ID=minioadmin
S3_SECRET_ACCESS_KEY=minioadmin
S3_BUCKET_NAME=files
S3_REGION=us-east-1
S3_USE_SSL=false